@import './utilities/uti';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


:root {
    --VeryLightGrayishBlue: hsl(240, 78%, 98%);
    --LightGrayishBlue: hsl(234, 14%, 74%);
    --GrayishBlue: hsl(233, 13%, 49%);
    --DarkGrayishBlue: hsl(232, 13%, 33%);
    --font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    max-width: var(--max-width-mob);
    background-image: url('../images/bg-top.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -200px right -150px;
    padding: 4em 2em;
    background-color: var(--Very-Light-Grayish-Blue);
    height: 100vh;


}


//typography
h1 {
    @include main-title;
    font-weight: var(--fontFw-4);
    margin-bottom: 0.5em;
    color: var(--GrayishBlue);
}

h2 {
    @include secondary-title;
    font-size: 1rem;
    color: var(--LightGrayishBlue);
    margin: 1em;
}

h3 {
    text-transform: capitalize;
    color: var(--GrayishBlue);
}

span {
    font-size: 2.5rem;
    border-bottom: 1px solid var(--LightGrayishBlue);
    padding-bottom: 0.2em;
    width: 100%;
    display: inline-block;
    color: var(--DarkGrayishBlue);
}

article {
    width: 80%;
    text-align: center;

    p {
        margin-top: 1.5em;
        font-size: 0.8rem;
        color: var(--GrayishBlue);
        text-align: center;
        border-bottom: 1px solid var(--LightGrayishBlue);
        padding-bottom: 1em;


    }
}


header {

    @include flex-2;

    width: 100%;
    max-width: var(--max-width-mob);
    margin-bottom: 2em;


    .toggle-section {

        width: 100%;
        @include flex-1;
        max-width: var(--max-width-mob);


        .toggle-button {
            width: 50px;
            height: 25px;
            background-color: white;
            border-radius: 20px;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

            .overlay {
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: white;
                border-radius: 50%;
                cursor: pointer;
                appearance: none;
                border: none;
                left: 3px;
                top: 2px;
                transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            }
        }
    }


}

main {
    width: 100%;
    max-width: var(--max-width-mob);
    background-image: url('../images/bg-bottom.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom -10px left -500px;







}

.cards {
    padding: 2em;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(3, 400px);

    place-content: center;
    gap: 1rem;

    .card {
        background-color: var(--major-white);
        border-radius: 5px;
        text-transform: capitalize;
        letter-spacing: 1px;
        @include box-shadow-3;

        #middle {
            @include button;
            width: 80%;
            font-family: var(--font);
            padding: 0.5em;
            color: hsl(237, 63%, 64%);
            background-color: var(--VeryLightGrayishBlue);
            transition: opacity 0.5s ease;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }

        }

        button:not(#middle) {
            @include button;
            width: 80%;
            padding: 0.5em;
            color: var(--VeryLightGrayishBlue);
            font-family: var(--font);
            background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
            opacity: 0.8;
            transition: opacity 0.5s ease;

            &:hover {
                opacity: 1;
            }

        }

        &:nth-child(2) {

            background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

            p {
                color: var(--VeryLightGrayishBlue);
            }

            span {
                color: var(--VeryLightGrayishBlue);
            }

            h3 {
                color: var(--VeryLightGrayishBlue);
            }


        }
    }

}

.card-content {
    width: 100%;

    height: 100%;
    @include flex-2;
    justify-content: space-evenly;



}


//media
@media only screen and (min-width:600px) {
    body {
        max-width: var(--max-width-desktop);

        &>* {
            max-width: var(--max-width-desktop);
        }
    }

    .toggle-section {
        max-width: var(--max-width-mob)
    }
}

@media only screen and (min-width:1100px) {
    body {
        max-width: var(--max-width-desktop-2);

        &>* {
            max-width: var(--max-width-desktop-2);
        }
    }


    .cards {

     grid-template-columns: repeat(3, 300px);
        gap: 0;
      grid-template-rows: repeat(1, 400px);


    }

    .card {
        &:nth-child(1) {
            grid-column: 1/2;
            grid-row: 1/1;

        }

        &:nth-child(2) {
            grid-column: 2/2;
            grid-row: 1/1;
            @include box-shadow;
            z-index: 9000;
        }

        &:nth-child() {
            grid-column: 2/3;
            grid-row: 1/1;

        }
    }



}

//js classes

.current {
    color: var(--DarkGrayishBlue);
}

.move {
    transform: translateX(120%);
}